.calculator {
  background-color: #000;

  &__inputs {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }

  &__bottom {
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
  }

  &__values {
    display: grid;
    row-gap: 50px;
  }

  &__info {
    display: flex;
    align-items: baseline;
    column-gap: 20px;

    &-text {
      font-size: var(--fz-h2);
      color: var(--color-gray);
    }

    &-value {
      font-size: var(--fz-h2);
    }
  }

  &__button {
    height: min-content;
    margin-top: auto;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #fff;
    padding: 10px 20px;
    opacity: .8;
    transition: all .125s linear;

    &:hover {
      opacity: 1;
    }
  }
}

.wrapper {
  padding: 80px 0;
}

.container {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
}

.switcher {
  display: flex;
}

.minus,
.plus {
  height: fit-content;
  font-size: var(--fz-text);
  font-weight: bold;
  color: var(--color-gray);
  padding: 6px 16px;
  border: var(--border-gray);
  cursor: pointer;
}

.minus {
  border-right-width: 1px;

  &.active {
    color: #fff;
    background-color: #383838;
  }
}

.plus {
  border-left-width: 1px;

  &.active {
    color: #fff;
    background-color: #383838;
  }
}

@media (max-width: 1400px) {
  .calculator {


    &__inputs {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }

    &__bottom {
      margin-top: 100px;
      flex-direction: column-reverse;
    }
  }
}