.total {
  background-color: #202020;
}

.total__values {
  display: flex;
  align-items: baseline;
  column-gap: 20px;
  padding: 40px 0;
}

.total__text {
  font-size: var(--fz-h2);
  color: var(--color-gray);
}

.total__h {
  font-size: var(--fz-h1);
}

.total__m {
  font-size: var(--fz-h2);
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}