.total {
  background-color: var(--color-dark-gray);

  &__values {
    display: flex;
    align-items: baseline;
    column-gap: 20px;
  }

  &__text {
    font-size: var(--fz-h2);
    color: var(--color-gray);
  }

  &__h {
    font-size: 60px;
  }

  &__m {
    font-size: var(--fz-h2);
  }
}

.wrapper {
  padding: 40px 0;
}

.container {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
}